<section class="about" id="about">
    <h1 class="about-title title">О сервере</h1>
    <div class="container about-container">
        <p class="about-text">Мы Донецк
            Самый дружелюбный город
            Сейчас самые большие по населению и имеем кучу хороших взаимоотношенмй
            С нами такие города как: 
            "Санкт-Петербург, Москва, Омск" и так далее
            Присоединяйтесь к нам
            Всему научим и все расскажем.
        </p>
        <model-viewer class="about-model" auto-rotate-delay="1000" rotation-per-second="30deg" src="others/3D/scene.gltf" alt="VR Headset" auto-rotate camera-orbit="0deg 0deg 100deg" ar ios-src="others/3D/scene.gltf"></model-viewer>
        <p class="about-text">
            Российская империя - это военно-политический РП сервер Майнкрафт со своими уникальными механиками и оружием!
            Тут ты можешь создать свой город или вступить в Альянс.
            Много разных вариантов развития вашего города.
        </p>
    
        
    </div>
</section>