<section class="howtoplay" id="howtoplay">
    <h1 class="howtoplay-title title">Как начать играть?</h1>
        <div class="container howtoplay-container">
            <div class="column">
                <div class="img-wrapper"><img src="img/launcher.webp" alt="" class="column-img"></div>
                <h4 class="column-title"><a href="https://tlauncher.org/#osselector" target="_blank">Скачиваем TLauncher</a></h4>
                <div class="column-description">Устанавливай и вводи свой никнейм в строку "ИМЯ"</div>
            </div>

            <div class="column">
                <div class="img-wrapper"><img src="img/forge.webp" alt="" class="column-img"></div>
                <h4 class="column-title">Выбираем версию ForgeOptifine</h4>
                <div class="column-description">Выбираем версию ForgeOptifine 1.16.5 и заходим.<br>Добавив IP сервера Play.mine-way.ru</div>
            </div>

            <div class="column">
                <div class="img-wrapper"><img src="img/diamond.webp" alt="" class="column-img"><br></div>
                <h4 class="column-title">Выбираем сервер Diamond</h4>
                <div class="column-description">Выбирай сервер "Диомед".<br>И начинаем играть!</div>
            </div>
        </div>
</section>