<main class="main">
    <div class="container main-container">
        <div class="left">
            <h1 class="main-title">Российская империя</h1>
            <h3 class="main-subtitle">Вы окунётесь в мир новых приключений!<br>Вас ждёт атмосферное выживание,<br>новые знакомства, куча эмоций<br>и многое другое.</h3>
        </div>

        <div class="right">
            <img src="img/person.webp" alt="" class="person">
            <img src="img/ground.webp" alt="" class="ground">
        </div>
    </div>
</main>