<section class="rules" id="rules">
    <h3 class="rules-title title">
        Правила
    </h3>
    <div class="container">
        <h4 class="rules-subtitle">Правила: Пользование миром</h4>
        <div class="rules-line"></div>
        <ul>
            <li>
                2.1 - Запрещена порча ландшафта в больших объемах (выкапывание ям размером в чанк и т.п.).
                Наказание: бан на 2 дня.
            </li>
            <li>
                2.2 - Запрещено строить ловушки и им подобные.
                Наказание: cнос постройки, бан на 10 часов.
            </li>
            <li>
                2.3 - Запрещено строительство автоматических и полуавтоматических редстоун схем (включая фермы, автопечки и прочее) без их RP обустройства в виде завода/фабрики/плантаций и прочих RP объектов.
                Наказание: снос постройки, бан на 1 день.
            </li>
            <li>
                2.4 - Запрещено строить и пользоваться АФК фермами, АФК рыбалкой и т.п.
                Наказание: бан на 2 дня.
                При повторном нарушении: срок увеличивается вдвое.
            </li>
            <div class="hidden">
            <li>
                2.5.1 - Запрещён гриф города. (разрушение чужих построек в городе, хранилищ предметов, воровство ценных ресурсов в любых масштабах).
                Исключение - мэр или его заместители могут забрать ресурсы с разрешения их владельца, а также в случае, когда владелец не заходит в игру более 7 дней.
                Наказание: бан на 5 дней по IP.
            </li>
            <li> 
                2.5.2 - Новым мэрам запрещено кикать жителей из города, воровать их ресурсы и разрушать постройки без их согласия в течение 3 дней с момента получения прав мэра.
                Если новый мэр не желает играть с нынешними жителями, он также обязан предупредить их о переселении.
                Исключение - житель города не заходит в игру более 7 дней.
                Наказание: бан на 5 дней по IP.
            </li>
            <li>
                2.5.3 - Если постройки/ресурсы находятся в диких землях (не под приватом), то их разрушение/воровство не считается грифом.
            </li>
            <li>
                2.6 - Запрещено строить искусственные острова или увеличивать свою территорию путем застройки/осушения водных территорий (морей/океанов).
                Наказание: снос постройки, откат территории.
            </li>
            <li>
                2.7 - Запрещено приватить водные территории. (правило 2.7 может работать в совокупности с 2.6).
                Исключение - приват для постройки кораблей, портов и мостов.
                Наказание: расприват территории.
                При повторном нарушении штраф 30% казны.
            </li>
            <li>   
                2.8 - Есть некоторые ограничения на строительство и терраформирование. Если коротко, ваши здания не должны выглядеть так, будто они полностью игнорируют все законы физики.
                Наказание: снос постройки.
            </li>
            <li>
                2.9 - Постройки должны сочетаться с веком, состоящим на сервере. Если на сервере 19 век, то вы не можете построить здание из 21 века.
                Постройки должны быть соразмерны реальным, а их архитектура соответствовать веку игры.
                Наказание: снос постройки.
            </li>
                <h4 class="rules-subtitle">3. Правила: Общие</h4> 
                <div class="rules-line"></div>
            <li>
                3.1 - При нарушении правил вы должны доложить нам об этом, иначе это будет приравнено к укрывательству нарушителя.
                Наказание: бан на 12 часов.
            </li>
            <li>    
                3.2 - Неадекватное поведение игрока, его стремление всячески мешать игровому процессу, выискивать лазейки в правилах и игре с целью воспользоваться ими для себя или навредить другим
                Наказание: определяется голосованием среди администрации, предупреждение или бан сроком от 2 до 5 дней.
            </li>
            <li>    
                3.3 - Запрещено целенаправленно обманывать администрацию или вводить в заблуждение, в том числе для получения собственной выгоды/с целью навредить другим.
                Наказание: определяется голосованием среди администрации, бан сроком от 2 до 14 дней по IP.
            </li>
            <li>
                3.4 - Запрещены убийства без RP причины.
                Наказание: бан на 2 дня.
                В случае неоднократных нарушений граждан какого-либо города - штраф в 30% казны.
            </li>
            <li>
                3.5 - Запрещено выходить с сервера или убегать в приват от убийцы в случае отыгрыша им RP ситуации.
                Наказание: бан на 12 часов.
            </li>
            <li>
                3.6 - Запрещена помеха RP процессу игроков (например, два игрока отыгрывают покупателя и продавца в баре, а третий игрок просто ходит и сталкивает их, либо сознательно спамит в чат).
                Наказание: бан сроком от 30 минут до 3 часов.
            </li>
            <li>
                3.7 - Запрещены любые действия, направленные на разрушение экономики сервера.
                Наказание: бан на 7 дней или зависит от размера ущерба.
            </li>
            <li>
                3.8 - Запрещено введение в заблуждение игроков насчёт правил сервера, для совершения NonRP действий.
                Наказание: мут/бан сроком от 12 часов до 2 дней (зависит от того где произошло нарушение, если в игре мут, на сторонних ресурсах бан).
            </li>
            <li>
                3.9 - Запрещена передача аккаунта 3-им лицам.
                Наказание: перманентный бан переданного аккаунта.
            </li>
            <li>
                3.10.1 - Администрация не переносит донаты с одного сервера на другой, (Например, с Диомеда на Орфей). Перенос доната осуществляется, если ошибка произошла на стороне сервера.
            </li>
            <li>
                3.10.2 - Возврат средств не может быть осуществлен. Если произошла какая-либо ошибка с покупкой/получением доната, то администрация обеспечит его выдачу.
            </li>
            <li>
                3.11 - На сервере MINEWAY альтернативная история. Это значит, что мы не играем по сюжету реальной жизни и все войны/конфликты/мероприятия и прочие RP-события игроки могут развивать сами.
                Исключение - научный (технологический) прогресс. Он идёт так, как был в реальности. Например, самолёты и вертолёты не могут быть на сервере, где идут 1800-ые года. Некоторые RP-посты тоже могут отклонить по этому исключению.
            </li>
            </div>
        </ul>
        <button class="rules-btn" id="rules-btn">Читать больше</button>
    </div>
</section>