<footer class="footer">
    <div class="container">
        <div class="footer-rights">Российская империя не связана с Mojang AB.</div>
        <ul class="footer-social">
            <li><a href="https://t.me/meydan_sqaud" class="footer-social-link" target="_blank">Telgram Админа</a></li>
            <li><a href="https://discord.gg/P7p6yn6nGY" class="footer-social-link" target="_blank">Discord нации</a></li>
            <li><a href="https://discord.gg/Bn5MGMKd5c" class="footer-social-link" target="_blank">Наш Discord</a></li>
            <li><a href="https://drive.google.com/file/d/11wvZYQJryes58iEhmtlVOTrB7JSki_IF/view?usp=drivesdk" class="footer-social-link" target="_blank">Текстур пак</a></li>
        </ul>
    </div>
</footer>