.footer {
    margin-top: 150px;
    .container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    &-rights {
        font-size: 14px;
        color: $dark;
        text-align: center;
    }
    &-social {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        list-style: none;
        color: $dark;
        font-size: 14px;
        gap: 10px;
        padding: 0;
    }
}
