.rules {
    margin-top: 112px;
    &-subtitle {
        margin-top: 10px;
        color: $green;
    }
    li::marker {
        color: $green;
    }
    li {
        margin: 13px 0px;
        color: $white;
    }
    &-line {
        max-width: 100%;
        height: 1px;
        margin: 13px;
        background: $green;
    }
    .hidden {
        display: none;
        opacity: 0;
        transition: 1s all;
    }
    &-btn {
        color: $white;
        text-shadow: 2px 2px #000A;
		box-shadow: inset -2px -4px #0006, inset 2px 2px #FFF7;
        background: #999 url('../img/bgbtn.png') center / cover;
        padding: 10px;
        cursor: pointer;
        border-right: 7px solid #000A;
        border-bottom: 7px solid #000A;
        outline: none;
        &:active {
            background-color: rgba(100, 100, 255, 0.45);
            text-shadow: 2px 2px #202013CC;
            color: #FFFFA0;
            border: none;
        }
    }
}
